{% if item.rules %}
{% for i in item.rules %}
{% if i.type == "tunnelsite" %}
# INTEL CONFIDENTIAL
#
# Copyright 2021-2021 Intel Corporation.
#
# This software and the related documents are Intel copyrighted materials, and your use of
# them is governed by the express license under which they were provided to you ("License").
# Unless the License provides otherwise, you may not use, modify, copy, publish, distribute,
# disclose or transmit this software or the related documents without Intel's prior written permission.
#
# This software and the related documents are provided as is, with no express or implied warranties,
# other than those that are expressly stated in the License.

---

apiVersion: batch.sdewan.akraino.org/v1alpha1
kind: IpsecSite
metadata:
  name: ipsecsite
  namespace: cnf
  labels:
    sdewanPurpose: {{ item.name }}
spec:
    name: {{ i.name }}
{% if i.remote is defined %}
    remote: {{ i.remote }}
{% else %}
    remote: "%any"
{% endif %}
    pre_shared_key: test_key
    authentication_method: psk
    local_identifier: ""
    crypto_proposal:
      - ipsecproposal
    force_crypto_proposal: "0"
    connections:
    - name: connA
      conn_type: tunnel
      mode: start
{% if i.remote_sourceip is defined %}
      remote_sourceip: {{ i.remote_sourceip }}
{% else %}
      remote_sourceip: "%config"
{% endif %}
      local_subnet: {{ i.local_subnet }}
      crypto_proposal:
        - ipsecproposal
{% endif %}
{% endfor %}
{% endif %}