# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2022 Intel Corporation

ICN-Sdewan-File-Path: {{ icn_sdwan_dir }}
ICN-Sdewan-Role: 
ICN-Sdewan-CNF-Chart: {{ cnf_chart_name }}
ICN-Sdewan-Ctrl-Chart: {{ crd_ctrl_chart_name }}