# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

---
apiVersion: cdi.kubevirt.io/v1beta1
kind: CDI
metadata:
  name: cdi
spec:
  config:
    insecureRegistries: 
    - "{{ se_controller.address }}:{{ se_controller.ports.harbor }}"
